{
      "rows":[
        {{#repeat 25}}
         {
            "id":{{unumber 0 999999 tzx-readiness_entities_screener}},
            "value":"{{faker "lorem.word"}} {{number 1 1000}}"
         }
        {{/repeat}}
      ],
    "paginatedRowCount": 25,
    "totalRowCount": 50
}