{
    "rows": [
        {{#repeat 25}}
        {
            "RNUM": "{{unumber 1 100}}",
            "ID": "{{repeat_index}}",
            "NAME": "Account"
        }
        {{/repeat}}
    ],
    "paginatedRowCount": 25,
    "totalRowCount": 50
}