{
    "rows": [
        {{#repeat 25}}
        {
            "RNUM": "{{unumber 1 1000}}",
            "TASKNAME": "{{faker "lorem.sentence"}}",
            "TASKID": "{{faker "random.uuid"}}",
            "TASKTYPE": "{{faker "lorem.sentence"}}"
        }
        {{/repeat}}
    ],
    "paginatedRowCount": 2,
    "totalRowCount": 2
}