{
      "rows":[
        {{#repeat 25}}
         {
            "taskType":"{{or_string "Add Client Account Agency Agreement "}}",
            "entityId":{{unumber 0 999999 screener-tasks}},
            "trueLegalName":"{{faker "lorem.word"}} {{number 1 100}}",
            "mei":"{{number 100000000000 129875312387}}",
            "lei":"{{number 100000000000 129875312387}}"
         }
        {{/repeat}}
      ],
    "paginatedRowCount": 25,
    "totalRowCount": 50
}