<form class="chat-form input-append" name="chat-form">
    <div class="chat-form__username">{{ctrl.model.name}}}:</div>
    <input
            class="chat-form__message"
            type="text"
            placeholder="Type something..."
            ng-model="ctrl.model.message"
            ngTrim="true"
            ng-keypress="ctrl.keyPress($event)"
        >
    <button class="btn btn-success" type="button" ng-click="ctrl.sendMessage()">
        <span class="icon-play"></span>Send
    </button>
</form>