{
    "rows": [
        {{#repeat 2}}
        {
            "STATE": "{{or_string "Tax Prep Complete" "Action Required"}}",
            "COUNT": "{{number 1 100}}"
        }
        {{/repeat}}
    ],
    "paginatedRowCount": 2,
    "totalRowCount": 2
}