$gray: #f4f4f4;
$borderSize: 1px;
$borderType: double;
$borderProperty:  #efefef $borderSize $borderType;

$collWidth: (100% / 3);

//Data
$dataTitleTextColor: #727272;

//Tabs
$tabHover: #cde8f0;
$tabTextHoverColor: #5abdd7;
$tabDefaultTextColor: #adadad;
$paddingTab: 12px;