{
    "root": [
    {{#repeat 1000}}
        {
            "ATTR_NAME": "{{faker "lorem.sentence"}}",
            "ATTR_INDEX": {{number -1 1}},
            "ATTR_VALUE": "{{or_string "No" "lorem.word"}}"
        }
    {{/repeat}}
    ]
}