{
    "rows": [
        {{#repeat 50}}
            {
                "RNUM": "{{repeat_index}}",
                "ID": "{{faker "address.state|unique{:}12"}}",
                "NAME": "{{faker "address.country|unique{:}13"}}"
            }
        {{/repeat}}
     ],
    "paginatedRowCount": 50,
    "totalRowCount": 50
}
