{
      "rows":[
        {{#repeat 25}}
         {
            "id":"{{faker "random.uuid"}}",
            "value":"{{unumber 100000000000 129875312387}}"
         }
        {{/repeat}}
      ],
    "paginatedRowCount": 25,
    "totalRowCount": 50
}